<html>
<head>
  <meta charset="UTF-8">
  <meta name=”keywords” content=”智能问答,问答系统,Unix操作,Unix命令,命令助手,工程师助手″>
  <meta name=”description” content=”fastken智能问答系统，可以自然语言方式提问。目前提供了Unix助手，包括命令操作和问题解答”>
  <title>fastken智能问答系统--工程师的好帮手</title>
  <style type="text/css">
     p,td {font:12px/20px arial,sans-serif;}
     .hint {font:10px/16px arial,sans-serif;color:#A0A0A0;}
   </style>
</head>

<body onload="docInit()">
<form name="f" action="/fastken/" method="POST" onsubmit="return checkForm(this)">
<table border="0" align="center">
<tr height="100" align="center" valign="center">
<td colspan="2">
<font style="font:bold 18px/30px arial,sans-serif;">fastken智能问答系统</font>
</td>
</tr>

<tr height="40">
<td>问题分类：</td>
<td>
<select name="catalog" id="catalog">
  <option value="unix">Unix助手</option>
</select>
<span class="hint">
&nbsp;&nbsp;&nbsp;&nbsp;目前只支持Unix问答，包括Unix命令、系统和环境相关的问题解答。
</span>
</td>
</tr>

<tr height="40">
<td>操作系统：</td>
<td>
<select name="osname" id="osname">
  <option value="CentOS">CentOS (Linux)</option>
  <option value="Ubuntu">Ubuntu (Linux)</option>
  <option value="Darwin">MacOS (Darwin)</option>
</select>
</td>
</tr>

<tr height="40">
<td>你的问题： </td>
<td>
<input name="question" id="question" size="50" value="${question}">
</td>
</tr>

<tr height="40" align="center">
<td colspan="2">
<input type="submit" value="提交">
</td>
</tr>
<tr height="20">
<td colspan="2">&nbsp;</td>
</tr>
<tr height="120" style="display:${display_answer};">
<td>系统回答： </td>
<td>
<p align="left" id="answer">
</p>
</td>
</tr>
</table>
</form>
<p class="hint" align="center">
unix终端下可以直接使用命令行搜索问题，shell脚本下载链接：
<a href="https://github.com/happyfish100/fastkengine/blob/master/src/shell/fastken.sh">fastken.sh</a>
</span>
<p align="center">
powered by <a href="https://github.com/happyfish100/fastkengine" target="_blank">fastkengine</a>. &nbsp;&nbsp;
京ICP备18051003号
</p>
<form name="h" action="/fastken/" method="POST">
<input type="hidden" name="catalog" value="unix">
<input type="hidden" name="osname" value="">
<input type="hidden" name="question" value="">
</form>

<script language="javascript">
String.prototype.trim = function() {
    return this.replace(/(^\s*)|(\s*$)/g, "");
}

function getCookie(cname)
{
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i].trim();
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function moveCursorToTextEnd(id)
{
    var obj = document.getElementById(id);
    var pos = obj.value.length;
    if (obj.setSelectionRange) { //兼容火狐,谷歌
        setTimeout(function() {
                obj.setSelectionRange(pos, pos);
                obj.focus();}
                ,0);
    } else if (obj.createTextRange) { //兼容IE
        var rng = obj.createTextRange();
        rng.move('character', pos);
        rng.select();
    } else {
        obj.focus();
    }
}

function doSearch(question)
{
    var form = document.forms["h"];
    form.elements["catalog"].value = document.getElementById("catalog").value;
    form.elements["osname"].value = document.getElementById("osname").value;
    form.elements["question"].value = question;
    form.submit();
}

function formatAnswer(oa)
{
    var na;
    if (oa.length == 0) {
        return oa;
    }

    na = oa;
    na = na.replace(/\[\[(\/)?cmd(\s+required)?\s*(\/)?\]\](<br>)?/g, "");
    na = na.replace(/\[\[slink\]\](.*?)\[\[\/slink\]\]/g, "<a href=\"#\" onclick=\"doSearch('$1')\">$1</a>");
    return na;
}

function docInit()
{
    moveCursorToTextEnd("question");

    var osname = getCookie("osname");
    if (osname.length > 0) {
        document.getElementById("osname").value = osname;
    }

    document.getElementById("answer").innerHTML = formatAnswer("${answer}");
}

function checkForm(form)
{
    var q = document.getElementById("question");
    q.value = q.value.trim();
    if (q.value.length == 0) {
        alert("哥们，请输入问题噻。");
        q.focus();
        return false;
    }

    return true;
}
</script>
</body>
</html>
<!-- host: ${server_ip} -->
